@font-face {
	font-family: archistico;
	src: url('archistico/Archistico_Simple.ttf');
}

* {
	box-sizing: border-box;
}

html {
	color: white;
}

section {
	position: relative;
	display: block;
}

.background {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.center {
	vertical-align: center;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#initial-content {
	background-color: black;
	background-image: url('images/background_image.png') no-repeat center center fixed;
	width: 100%;
	height: 100%;
}

#container {
	margin: 0 auto;
	width: 60%;
	height: 100%;
	background-color: rgba(66,66,99,0.7);
}

#title {
	font-family: 'archistico';
	position: relative;
  	top: 30%;
	font-size: 75;
	text-align: center;
}

#code-content {
	background-color: #a2f0a4;
}

.content {
	height: 600px;
}

footer {
	font-size: 24pt;
	color: #dc8c52;
	text-align: center;
	width: 100%;
	margin: auto;
}

.top-bar {
	width: 100%;
	height: auto;

	background-color: rgba(66,66,99,0.7);
}

.top-bar li {
	float: left;
}

