html {
	color: white;
}

/*.background {
	background: url('background_image2.png') no-repeat center center fixed;
	background-color: black;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.center {
	vertical-align: center;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#main-content {
	width: 100%;
}
#main-content div {
	vertical-align: center;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 200;
}

#likes-to {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 50;	
}

#likes {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 150;
}

#blog {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 50px;
}

#contact div{
	margin: 15px;
	display:inline;
}*/

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	opacity: 0;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-call;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#slide-1 .bcg {
	background-image:url('background_image2.png');
}

#slide-2 .bcg {
	background: none;
	background-color: #010101;
	height: 310px;
	text-align: center;
}
