@font-face {
	font-family: archistico;
	src: url('archistico/Archistico_Simple.ttf');
}

* {
	box-sizing: border-box;
}

html {
	color: white;
}

section {
	position: relative;
	display: block;
}

.top-bar {
	box-shadow: 1px 1px 1px #393939;
	text-align: center;
}

.nav-menu-item {
	padding: 25px 0;
}

.nav-menu-item:hover{
	background-color: #5E5E5E;
	cursor: pointer;
}

#code-top-bar {
	background-color: #a44f11;
}

#design-top-bar {
	background-color: #383838;
}

.background {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.center {
	vertical-align: center;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#initial-content {
	background-color: black;
	background-image: url('resources/images/background_image.png') no-repeat center center fixed;
	width: 100%;
	height: 100%;
}

#container {
	margin: 0 auto;
	width: 60%;
	height: 100%;
	background-color: rgba(66,66,99,0.7);
}

#title {
	font-family: 'archistico';
	position: relative;
  	top: 30%;
	font-size: 75;
	text-align: center;
}

#code-content {
	background-color: #a2f0a4;
}

#design-content {
	background-color: #cecece;
}

.portfolio-space {
	margin-top: 40px;
}

.portfolio-item {
	width: 50%;
	height: 35%;

	background-color: #deddde;
	box-shadow: 2px 2px 1px #393939;

	margin:auto;
}

.content {
	height: 600px;
}

footer {
	font-size: 18pt;
	font-weight: 100;
	text-align: center;
	width: 100%;
	margin: auto;
	padding-bottom: 15px;
}

#github {
	color: #dc8c52;
}

#dribbble {
	color: #919191;
}

#github a {
	color: #dc8c52;
}

#dribbble a {
	color: #919191;
}

#github a:hover {
	color: #f0f0f0;
	cursor: pointer;
}

#dribbble a:hover {
	color: #f0f0f0;
	cursor: pointer;
}

